body {
    background-image: url(https://img.elo7.com.br/product/zoom/2EAD7BE/papel-de-parede-tema-bob-esponja-1-00x0-60cm-pepel-decorativo.jpg);
}

div {
    display: inline-block;
}

img {
    border: 4px solid black;
}

#div1 {
    margin-left: 250px;
}

#div2 {
    display: inline-block;
    margin-top: 1px;
    margin-left: 100px;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

#se {
    margin-left: 90px;
    font-weight: 900;
    color: aliceblue;
}